# ENGG 192 
### Dartmouth College - January 7, 2019
### Spencer Bertsch
This program uses both TensorFlow and PyTorch to create dense, fully connected neural networks designed to predict the results of NBA games. 

The data source for this project can be found [here](https://www.kaggle.com/ionaskel/nba-games-stats-from-2014-to-2018#nba.games.stats.csv).

In [89]:
# Imports 
import tensorflow as tf
import numpy as np 
import pandas as pd
import keras

#Plotting
%matplotlib inline 
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

#Data cleaning and preprocessing
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer

## Load the Dataset 

Our dataset exists as a .csv file downloaded form Kaggle. In a more developed project we could develop the way that data is loaded into this notebook, but for now we can simply use a handy feature of Pandas called 'read_csv' to import a .csv to a pandas dataframe.

In [23]:
# Import the dataset - load .csv file
path = '/Users/spencerbertsch/Desktop/ENGS 192/Dense_NNs/Data/nba_raw_data.csv'
#create a dataframe from the NBA data stored in the .csv file
NBA_data_raw = pd.read_csv(path)

print("Shapw of raw dataset:", (NBA_data_raw.shape))
print("So we can see that we have 40 features and one label vector")
print("We can also see that we have 9,840 rows")
print(" ")
print("We can also preview our dataset by observing the top five rows")
NBA_data_raw.head(5)

Shapw of raw dataset: (9840, 41)
So we can see that we have 40 features and one label vector
We can also see that we have 9,840 rows

We can also preview our dataset by observing the top five rows

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,TeamPoints,OpponentPoints,FieldGoals,...,Opp.FreeThrows,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls
0,1,ATL,1,10/29/14,Away,TOR,L,102,109,40,...,27,33,0.818,16,48,26,13,9,9,22
1,2,ATL,2,11/1/14,Home,IND,W,102,92,35,...,18,21,0.857,11,44,25,5,5,18,26
2,3,ATL,3,11/5/14,Away,SAS,L,92,94,38,...,27,38,0.711,11,50,25,7,9,19,15
3,4,ATL,4,11/7/14,Away,CHO,L,119,122,43,...,20,27,0.741,11,51,31,6,7,19,30
4,5,ATL,5,11/8/14,Home,NYK,W,103,96,33,...,8,11,0.727,13,44,26,2,6,15,29

In [25]:
print(" ")
print("We can then make a list from the column headers and observe all of the information that our dataset has aggregated for each game")
cols = list(NBA_data_raw.columns.values) #Make a list of all of the columns in the df
cols

We can then make a list from the column headers and observe all of the information that our dataset has aggregated for each game

['Unnamed: 0',
 'Team',
 'Game',
 'Date',
 'Home',
 'Opponent',
 'WINorLOSS',
 'TeamPoints',
 'OpponentPoints',
 'FieldGoals',
 'FieldGoalsAttempted',
 'FieldGoals.',
 'X3PointShots',
 'X3PointShotsAttempted',
 'X3PointShots.',
 'FreeThrows',
 'FreeThrowsAttempted',
 'FreeThrows.',
 'OffRebounds',
 'TotalRebounds',
 'Assists',
 'Steals',
 'Blocks',
 'Turnovers',
 'TotalFouls',
 'Opp.FieldGoals',
 'Opp.FieldGoalsAttempted',
 'Opp.FieldGoals.',
 'Opp.3PointShots',
 'Opp.3PointShotsAttempted',
 'Opp.3PointShots.',
 'Opp.FreeThrows',
 'Opp.FreeThrowsAttempted',
 'Opp.FreeThrows.',
 'Opp.OffRebounds',
 'Opp.TotalRebounds',
 'Opp.Assists',
 'Opp.Steals',
 'Opp.Blocks',
 'Opp.Turnovers',
 'Opp.TotalFouls']

## Data Cleaning

We can see that our target vector (Win or Loss) is the seventh column from the left, so the first thing we need to do is move that vector to the end (right side) of the dataframe. 

The next thing we can see is that several of these feature vectors in addition to our label vector contain categorical data in the form of strings. The general way to deal with categorical data is to encode this data into numeric data - this will allow our dense neural netowrk to learn from this data. 

After our features are seperated from the label and we have purely numeric data, we can scale our dataset and we will be ready for training!

In [120]:
#move label vector to the end of the dataframe 

cols = list(NBA_data_raw.columns.values) #Make a list of all of the columns in the df
cols.pop(cols.index('WINorLOSS')) #Remove WINorLOSS from list
df = NBA_data_raw[cols+['WINorLOSS']] #Create new dataframe with columns in the order you want
df.head(5)

,Unnamed: 0,Team,Game,Date,Home,Opponent,TeamPoints,OpponentPoints,FieldGoals,FieldGoalsAttempted,...,Opp.FreeThrowsAttempted,Opp.FreeThrows.,Opp.OffRebounds,Opp.TotalRebounds,Opp.Assists,Opp.Steals,Opp.Blocks,Opp.Turnovers,Opp.TotalFouls,WINorLOSS
0,1,ATL,1,10/29/14,Away,TOR,102,109,40,80,...,33,0.818,16,48,26,13,9,9,22,L
1,2,ATL,2,11/1/14,Home,IND,102,92,35,69,...,21,0.857,11,44,25,5,5,18,26,W
2,3,ATL,3,11/5/14,Away,SAS,92,94,38,92,...,38,0.711,11,50,25,7,9,19,15,L
3,4,ATL,4,11/7/14,Away,CHO,119,122,43,93,...,27,0.741,11,51,31,6,7,19,30,L
4,5,ATL,5,11/8/14,Home,NYK,103,96,33,81,...,11,0.727,13,44,26,2,6,15,29,W

### Continued data cleaning

We can see that our label vector has been moved to the end of the dataframe. We can now encode our categorical data so that we have a purely numeric dataset.

In [121]:
cols = df.shape[1]
rows = df.shape[0]

for i in range(0, cols, 1):
    
    values = df.iloc[:,i]
    
    #integer encode each column
    label_encoder = LabelEncoder()
    integer_encoded = label_encoder.fit_transform(values)
   
    encoded_vec = pd.DataFrame(integer_encoded) #convert to pd.dataframe
    
    df = pd.concat([df, encoded_vec], axis=1)

In [122]:
cols

41

In [136]:

final_df = df.iloc[:,-cols:]
print(final_df.shape)

final_df

(9840, 41)

,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,143,0,27,37,44,21,19,...,32,210,16,27,20,13,9,7,15,0
1,1,0,1,155,1,11,37,27,16,8,...,20,231,11,23,19,5,5,16,19,1
2,2,0,2,251,0,26,27,29,19,31,...,37,145,11,29,19,7,9,17,8,0
3,3,0,3,259,0,4,54,57,24,32,...,26,163,11,30,25,6,7,17,23,0
4,4,0,4,263,1,19,38,31,14,20,...,10,154,13,23,20,2,6,13,22,1
5,5,0,5,159,0,19,26,20,8,10,...,11,68,11,19,17,4,2,13,19,1
6,6,0,6,167,1,28,35,32,20,15,...,11,38,8,9,22,12,8,9,10,1
7,7,0,7,175,1,15,49,38,23,14,...,24,267,5,11,21,10,3,12,13,1
8,8,0,8,179,0,5,29,62,21,29,...,12,180,12,26,33,12,2,11,7,0
9,9,0,9,191,1,13,44,49,22,24,...,21,101,13,23,18,7,0,9,17,0
10,10,0,10,207,1,8,34,24,19,19,...,23,287,13,24,6,6,3,10,13,1
11,11,0,11,221,0,29,41,37,17,24,...,28,152,16,26,19,2,3,18,18,1
12,12,0,12,225,1,27,50,61,23,21,...,32,225,11,15,18,7,7,9,17,0
13,13,0,13,231,1,18,35,26,19,15,...,15,168,16,21,17,8,4,10,12,1
14,14,0,14,235,1,4,40,10,21,14,...,15,168,13,17,14,3,4,10,9,1
15,15,0,15,315,1,1,44,40,24,21,...,12,224,9,21,27,10,3,19,13,1
16,16,0,16,355,0,15,47,37,21,13,...,31,168,4,9,19,10,5,16,17,1
17,17,0,17,371,0,2,33,10,16,20,...,18,97,9,30,10,4,2,15,14,1
18,18,0,18,379,1,7,31,19,17,26,...,12,180,16,31,19,9,4,12,15,1
19,19,0,19,383,0,11,43,27,21,16,...,16,47,8,21,17,6,2,15,15,1
20,20,0,20,275,1,22,30,14,19,30,...,21,72,7,18,15,10,10,16,11,1
21,21,0,21,283,1,21,22,16,10,17,...,15,168,9,25,8,3,4,16,20,1
22,22,0,22,287,0,21,34,35,16,23,...,20,175,7,15,20,6,6,13,8,0
23,23,0,23,295,1,3,28,21,17,22,...,13,146,15,36,12,3,6,12,10,1
24,24,0,24,303,0,5,62,33,30,15,...,20,175,10,12,18,3,0,6,10,1
25,25,0,25,319,0,10,39,32,19,13,...,17,186,15,22,21,8,4,14,18,1
26,26,0,26,327,0,6,40,37,21,20,...,19,111,13,26,17,12,5,13,16,1
27,27,0,27,331,1,12,42,39,15,15,...,27,124,16,30,20,10,5,8,16,1
28,28,0,28,339,1,16,12,42,12,15,...,22,214,6,19,22,15,6,13,12,0
29,29,0,29,343,0,16,25,20,14,29,...,13,191,13,26,15,5,10,17,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,9138,29,52,463,0,11,46,37,26,21,...,24,103,8,14,13,6,2,14,11,1
9811,9158,29,53,467,0,22,37,50,22,32,...,13,191,12,24,21,9,4,15,7,0
9812,9178,29,54,475,1,1,39,45,19,34,...,33,122,7,24,10,9,6,16,13,0
9813,9198,29,55,398,0,3,36,25,19,21,...,15,207,9,24,17,11,2,12,9,1
9814,9218,29,56,409,0,19,53,48,29,27,...,17,186,11,21,15,7,1,8,10,1
9815,9238,29,57,426,0,5,45,38,25,31,...,18,66,6,15,14,5,2,11,8,1
9816,9258,29,58,430,1,4,40,57,21,20,...,19,226,13,20,20,7,5,6,11,0
9817,9278,29,59,438,1,22,44,29,24,18,...,30,164,17,22,18,13,3,13,9,1
9818,9337,29,60,446,0,16,42,39,23,27,...,27,231,8,19,14,10,9,14,13,1
9819,9373,29,61,450,1,9,36,44,17,29,...,29,217,3,15,18,10,8,12,14,0
9820,9396,29,62,527,1,27,30,37,17,18,...,31,93,8,13,13,9,5,5,15,0
9821,9416,29,63,583,1,11,30,33,16,22,...,23,265,11,22,5,10,0,14,11,0
9822,9436,29,64,591,1,15,52,48,21,19,...,26,163,13,20,20,11,3,12,17,1
9823,9456,29,65,603,0,18,51,32,27,35,...,17,217,2,17,17,3,10,13,11,1
9824,9476,29,66,487,0,15,37,64,15,16,...,20,146,5,21,21,9,5,8,18,0
9825,9496,29,67,499,1,17,46,51,23,21,...,18,252,11,16,17,10,7,8,14,0
9826,9516,29,68,503,0,1,60,59,27,36,...,22,135,10,23,24,9,5,15,15,1
9827,9536,29,69,515,1,11,44,37,21,13,...,14,200,10,17,18,6,4,13,11,1
9828,9595,29,70,535,0,26,25,33,16,22,...,17,151,12,21,15,7,10,13,10,0
9829,9631,29,71,543,1,7,35,43,19,19,...,17,280,7,17,19,5,10,8,9,0
9830,9654,29,72,551,1,19,32,36,18,26,...,14,236,10,23,20,10,6,12,12,0
9831,9674,29,73,559,1,26,51,41,27,24,...,32,53,10,16,23,7,5,6,10,1
9832,9694,29,74,567,0,8,27,38,18,28,...,19,168,10,23,20,9,3,14,7,0
9833,9714,29,75,579,1,4,42,28,21,27,...,26,96,9,25,16,6,2,15,7,1
9834,9734,29,76,607,0,3,29,48,18,20,...,12,133,6,19,24,7,1,15,10,0
9835,9754,29,77,629,0,10,39,55,19,11,...,26,118,10,25,20,13,3,7,7,0
9836,9774,29,78,636,0,5,50,54,28,33,...,27,191,5,14,20,10,3,14,7,0
9837,9794,29,79,640,1,0,32,38,16,26,...,22,135,7,29,18,5,5,16,15,0
9838,9819,29,80,611,1,1,48,36,22,22,...,26,208,13,23,16,14,1,14,11,1
9839,9839,29,81,615,0,21,27,36,14,34,...,26,208,6,21,14,6,7,14,20,0

In [133]:
#define a function to label encode a 2D (x,y) matrix and return an encoded matrix
def int_encode(df):
    cols = df.shape[1]
    rows = df.shape[0]
    original_size = df.shape[1]
    
    for i in range(0, cols, 1):
    
        values = df.iloc[:,i]

        #integer encode each column
        label_encoder = LabelEncoder()
        integer_encoded = label_encoder.fit_transform(values)

        encoded_vec = pd.DataFrame(integer_encoded) #convert to pd.dataframe

        df = pd.concat([df, encoded_vec], axis=1)
    

    final_df = df.iloc[:,-original_size:] #why does it work above and not here??
    print(final_df.shape)

    return(final_df)

In [134]:
cols

41

In [135]:
XX = int_encode(input_df)

XX

(9840, 82)

,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,143,0,27,37,44,21,19,...,32,210,16,27,20,13,9,7,15,0
1,1,0,1,155,1,11,37,27,16,8,...,20,231,11,23,19,5,5,16,19,1
2,2,0,2,251,0,26,27,29,19,31,...,37,145,11,29,19,7,9,17,8,0
3,3,0,3,259,0,4,54,57,24,32,...,26,163,11,30,25,6,7,17,23,0
4,4,0,4,263,1,19,38,31,14,20,...,10,154,13,23,20,2,6,13,22,1
5,5,0,5,159,0,19,26,20,8,10,...,11,68,11,19,17,4,2,13,19,1
6,6,0,6,167,1,28,35,32,20,15,...,11,38,8,9,22,12,8,9,10,1
7,7,0,7,175,1,15,49,38,23,14,...,24,267,5,11,21,10,3,12,13,1
8,8,0,8,179,0,5,29,62,21,29,...,12,180,12,26,33,12,2,11,7,0
9,9,0,9,191,1,13,44,49,22,24,...,21,101,13,23,18,7,0,9,17,0
10,10,0,10,207,1,8,34,24,19,19,...,23,287,13,24,6,6,3,10,13,1
11,11,0,11,221,0,29,41,37,17,24,...,28,152,16,26,19,2,3,18,18,1
12,12,0,12,225,1,27,50,61,23,21,...,32,225,11,15,18,7,7,9,17,0
13,13,0,13,231,1,18,35,26,19,15,...,15,168,16,21,17,8,4,10,12,1
14,14,0,14,235,1,4,40,10,21,14,...,15,168,13,17,14,3,4,10,9,1
15,15,0,15,315,1,1,44,40,24,21,...,12,224,9,21,27,10,3,19,13,1
16,16,0,16,355,0,15,47,37,21,13,...,31,168,4,9,19,10,5,16,17,1
17,17,0,17,371,0,2,33,10,16,20,...,18,97,9,30,10,4,2,15,14,1
18,18,0,18,379,1,7,31,19,17,26,...,12,180,16,31,19,9,4,12,15,1
19,19,0,19,383,0,11,43,27,21,16,...,16,47,8,21,17,6,2,15,15,1
20,20,0,20,275,1,22,30,14,19,30,...,21,72,7,18,15,10,10,16,11,1
21,21,0,21,283,1,21,22,16,10,17,...,15,168,9,25,8,3,4,16,20,1
22,22,0,22,287,0,21,34,35,16,23,...,20,175,7,15,20,6,6,13,8,0
23,23,0,23,295,1,3,28,21,17,22,...,13,146,15,36,12,3,6,12,10,1
24,24,0,24,303,0,5,62,33,30,15,...,20,175,10,12,18,3,0,6,10,1
25,25,0,25,319,0,10,39,32,19,13,...,17,186,15,22,21,8,4,14,18,1
26,26,0,26,327,0,6,40,37,21,20,...,19,111,13,26,17,12,5,13,16,1
27,27,0,27,331,1,12,42,39,15,15,...,27,124,16,30,20,10,5,8,16,1
28,28,0,28,339,1,16,12,42,12,15,...,22,214,6,19,22,15,6,13,12,0
29,29,0,29,343,0,16,25,20,14,29,...,13,191,13,26,15,5,10,17,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,9138,29,52,463,0,11,46,37,26,21,...,24,103,8,14,13,6,2,14,11,1
9811,9158,29,53,467,0,22,37,50,22,32,...,13,191,12,24,21,9,4,15,7,0
9812,9178,29,54,475,1,1,39,45,19,34,...,33,122,7,24,10,9,6,16,13,0
9813,9198,29,55,398,0,3,36,25,19,21,...,15,207,9,24,17,11,2,12,9,1
9814,9218,29,56,409,0,19,53,48,29,27,...,17,186,11,21,15,7,1,8,10,1
9815,9238,29,57,426,0,5,45,38,25,31,...,18,66,6,15,14,5,2,11,8,1
9816,9258,29,58,430,1,4,40,57,21,20,...,19,226,13,20,20,7,5,6,11,0
9817,9278,29,59,438,1,22,44,29,24,18,...,30,164,17,22,18,13,3,13,9,1
9818,9337,29,60,446,0,16,42,39,23,27,...,27,231,8,19,14,10,9,14,13,1
9819,9373,29,61,450,1,9,36,44,17,29,...,29,217,3,15,18,10,8,12,14,0
9820,9396,29,62,527,1,27,30,37,17,18,...,31,93,8,13,13,9,5,5,15,0
9821,9416,29,63,583,1,11,30,33,16,22,...,23,265,11,22,5,10,0,14,11,0
9822,9436,29,64,591,1,15,52,48,21,19,...,26,163,13,20,20,11,3,12,17,1
9823,9456,29,65,603,0,18,51,32,27,35,...,17,217,2,17,17,3,10,13,11,1
9824,9476,29,66,487,0,15,37,64,15,16,...,20,146,5,21,21,9,5,8,18,0
9825,9496,29,67,499,1,17,46,51,23,21,...,18,252,11,16,17,10,7,8,14,0
9826,9516,29,68,503,0,1,60,59,27,36,...,22,135,10,23,24,9,5,15,15,1
9827,9536,29,69,515,1,11,44,37,21,13,...,14,200,10,17,18,6,4,13,11,1
9828,9595,29,70,535,0,26,25,33,16,22,...,17,151,12,21,15,7,10,13,10,0
9829,9631,29,71,543,1,7,35,43,19,19,...,17,280,7,17,19,5,10,8,9,0
9830,9654,29,72,551,1,19,32,36,18,26,...,14,236,10,23,20,10,6,12,12,0
9831,9674,29,73,559,1,26,51,41,27,24,...,32,53,10,16,23,7,5,6,10,1
9832,9694,29,74,567,0,8,27,38,18,28,...,19,168,10,23,20,9,3,14,7,0
9833,9714,29,75,579,1,4,42,28,21,27,...,26,96,9,25,16,6,2,15,7,1
9834,9734,29,76,607,0,3,29,48,18,20,...,12,133,6,19,24,7,1,15,10,0
9835,9754,29,77,629,0,10,39,55,19,11,...,26,118,10,25,20,13,3,7,7,0
9836,9774,29,78,636,0,5,50,54,28,33,...,27,191,5,14,20,10,3,14,7,0
9837,9794,29,79,640,1,0,32,38,16,26,...,22,135,7,29,18,5,5,16,15,0
9838,9819,29,80,611,1,1,48,36,22,22,...,26,208,13,23,16,14,1,14,11,1
9839,9839,29,81,615,0,21,27,36,14,34,...,26,208,6,21,14,6,7,14,20,0

The last step in preprocessing is to scale our dataset.

In [137]:
#Scaling

# Deep Learning - TensorFlow

Before we jump to our feet and run to the sports betting websites, we have to realize that the features in our dataset contain data from the games that we are trying to predict. In other words, we would have to wait through the entire game to collect and aggreagate the data from the game before cleaning it and feeding it to our dense, fully connected network. 

Unless we could do this very efficiently (instantly..) there is little use for this program in terms of actual sports betting. Still, it was a good way to practice using several deep learning libraries running on different operating systems. It's important to remember that althouhg libraries such as TensorFlow have reached a relatively mature stage, the APIs that are often used on top of them can be potentially underdeveloped.